.pokemon-list-item{
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

img{
    width: 100%;
    display: block;
}

.pokemon-item-detail{
    background-color: rgba(51,51,51, 0.95);
    transform: translate3d(0,0,0);
    position: absolute;
    transition: all ease-in-out 250ms;
    color: aliceblue;
}

.pokemon-item-detail_text{
    padding: 0.45rem;
}

.pokemon-list-item:hover .pokemon-item-detail{
    transform: translate3d(0, -100%, 0);
}